@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.flex-container {
  display: flex;
  flex-direction: column;
}

.all-posts{
  padding-top: 10%;
  font-family: 'Abril Fatface', cursive;

}

header {
  background-image: url(../../images/collab-coffee-bg.png);
}

@media all and (min-width: 800px) {
  .all-posts{
    padding-top: 6%;
    font-size: 2rem;
  font-family: 'Abril Fatface', cursive;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
  }

  .flex-1 {
    flex: 1;
  }

  .flex-3 {
    flex: 3;
  }
}
