* {
  box-sizing: border-box;
}

.flex {
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

button {
  background-color: transparent;
  border: 1px solid #000;
  padding: 1rem;
  font-size: 1.25rem;
  margin: 2rem;
}

.flex-1 {
  flex: 1;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

header .header {
  padding: 5% 0 8% 0;
  font-family: 'DM Serif Display', serif;
}

.responsive {
  width: 100%;
  height: auto;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #dbe4f1;
}

section:nth-child(even) {
  background-color: #cdd9eb;
}

@media all and (min-width: 800px) {
  .flex {
    display: flex;
    flex-direction: row;
  }
}
