* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.img {
  margin: 1rem;
  background-color: #ffffff;
  border: 1px solid #000;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

header {
  padding: 12% 0;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #dbe4f1;
}

section:nth-child(even) {
  background-color: #cdd9eb;
}
