a {
  text-decoration: none;
  color: #0d0d0d;
}

a:visited {
  color: none;
}

a:hover,
a:active {
  font-weight: 500;
}

footer {
  background-color: #ebe3d5;
  padding: 5% 0;
}

.footer-style {
  text-align: center;
}

footer ul {
  list-style-type: none;
}
