a {
  text-decoration: none;
  color: #0d0d0d;
}

a:visited {
  color: none;
}

a:hover,
a:active {
  font-weight: 500;
}

footer {
  background-color: rgba(36, 81, 73, 0.8);
  padding: 0.10rem;
}

.footer-style {
  text-align: center;
}

footer ul {
  list-style-type: none;
}
