@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
#nav {
  font-family: 'Abril Fatface', cursive;
}

#nav:hover {
  color: rgba(36, 81, 73, 0.8);
}

@media all and (min-width: 800px) {
  #nav {
    display: flex;
    text-align: left;
    padding: 2rem 0rem 2rem 5rem;
    position: absolute;
    font-weight: 1;
    font-size: 2rem;
  }

  .nav:hover {
    color: rgba(36, 81, 73, 0.8);
  }
}
