* {
  box-sizing: border-box;
}

.edit-post {
  text-align: left;
  margin: 5%;
}

#edit-post-bg {
  background: url(../../images/coffee.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#edit-post-button {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.8);
}

#edit-post-button:hover {
  background-color: transparent;
}

#edit-post-h1 {
  padding-top: 35%;
}

.field {
  margin: 0 0 0.5rem 0;
}

input,
textarea,
select {
  padding: 1rem;
  font-size: 1rem;
}

label {
  font-size: 1.25rem;
  font-weight: bold;
}

textarea {
  max-width: 95%;
}

@media all and (min-width: 800px) {
  #edit-post-h1 {
    padding-top: 10%;
  }
}
