.card {
  margin: 10px;
  padding: 10px;
  border: 1px solid #000;
}

.flex-container {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-3 {
  flex: 3;
}

.group {
  padding: 10% 0 10% 0;
}

#group-bg {
  background: url(../../images/books.png) repeat-y center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media all and (min-width: 800px) {
  .group {
    padding: 5% 0 5% 0;
    font-size: 2rem;
  }
}
