.group-card {
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.3);
}

.group-card:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

#group-add-post,
#group-all-posts {
  background-color: rgba(242, 228, 231, 0.7);
}

#group-add-post:hover,
#group-all-posts:hover {
  background-color: rgba(242, 228, 231, 1);
}
