.post-details {
  padding: 30% 0 10% 0;
}

#post-details-bg {
  background-image: url('../../images/books.png');
}

@media all and (min-width: 800px) {
  .post-details {
    padding: 5% 0 5% 0;
    font-size: 2rem;
  }
}
