.post-details {
  padding: 30% 0 10% 0;
}

#post-details-bg {
  background: url(../../images/books.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media all and (min-width: 800px) {
  .post-details {
    padding: 5% 0 5% 0;
    font-size: 2rem;
  }
}
