#add-post-bg {
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url(../../images/coffee.png);
  background-position: 100% 100%;
}

.add-post {
  text-align: left;
  margin: 0 5%;
}

#add-post-button {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.8);
}

#add-post-button:hover {
  background-color: transparent;
}

#add-post-h1 {
  padding-top: 35%;
}

.field {
  margin: 0 0 0.5rem 0;
}

input,
textarea,
select {
  padding: 1rem;
  font-size: 1rem;
}

label {
  font-size: 1.25rem;
  font-weight: bold;
}

textarea {
  max-width: 95%;
}

@media all and (min-width: 800px) {
  #add-post-h1 {
    padding-top: 10%;
  }
}
