nav {
  display: flex;
  text-align: left;
  background-color: #becee5;
}

.flex-1 {
  flex: 1;
}

.flex-3 {
  flex: 3;
}

@media all and (min-width: 800px) {
  .flex-3 {
    flex: 3;
    padding: 0 0 0 2rem;
  }
}

