@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

.App {
  text-align: center;
  background-color: #f8fafc;
}

button {
  background-color: transparent;
  border: 2px solid #212529;
  padding: 1rem;
  font-size: 1.25rem;
  margin: 2rem;
  border-radius: 10px;
}

body {
  position: relative;
}

div .flex-1 {
  margin: 0 5%;
}

h2 {
  margin: 0 10%;
  font-size: 1.25rem;
}

html,
body {
  overflow-x: hidden;
}

p {
  font-size: 1rem;
}

/* For desktops greater than 800px */
@media all and (min-width: 800px) {
  div .flex {
    margin: 0 10%;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.25rem;
  }
}
